@import "tailwindcss";

body {
  font-family: var(--font-display), sans-serif;
}

button:not(:disabled),
a[href],
[role="button"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.fill-icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
